<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.provaaula11042019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PaymentHistory"
            android:label="@string/title_activity_payment_history"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateSeavingAccounts"
            android:label="@string/title_activity_create_seaving_accounts"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".ServicePayments"
            android:label="@string/title_activity_service_payments"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".PaymentPage"
            android:label="@string/title_activity_payment_page"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".PersonalPage"
            android:label="@string/title_activity_personal_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>