<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.provaaula11042019">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ListOfCompanyPage"
            android:label="@string/title_activity_list_of_company_page"
            android:parentActivityName=".ClienteOfManagerPage"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.ClienteOfManagerPage" />
        </activity>
        <activity
            android:name=".ClienteOfManagerPage"
            android:label="@string/title_activity_cliente_of_manager_page"
            android:parentActivityName=".ManagerPage"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.ManagerPage" />
        </activity>
        <activity
            android:name=".ManagerEmployeeList"
            android:label="Employee List"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ManagerClientList"
            android:label="Client List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagerPage"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WithdrawMoneySavingAccount"
            android:label="@string/title_activity_withdraw_money_saving_account"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".AddMoneySavingAccount"
            android:label="@string/title_activity_add_money_saving_account"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".TransfertPage"
            android:label="@string/title_activity_transfert_page"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".ServiceBillsSettings"
            android:label="@string/title_activity_service_bills_settings"
            android:parentActivityName=".ServicePayments"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.ServicePayments" />
        </activity>
        <activity
            android:name=".PaymentHistory"
            android:label="Payment History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateSeavingAccounts"
            android:label="Create Savings Account"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".ServicePayments"
            android:label="Service Payment"
            android:parentActivityName=".PersonalPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".PaymentPage"
            android:label="Payment "
            android:parentActivityName=".PersonalPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.provaaula11042019.PersonalPage" />
        </activity>
        <activity
            android:name=".PersonalPage"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>